body {
    background: #111;
    margin: 0;
}

h2{
    color: #fff;
    position: relative;
    margin-top: 200px;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 4em;
    font-family: 'Mountains of Christmas';
    text-shadow: 0px 0px 8px rgba(255,65,185,1);
}
